  <ons-page>
    <ons-toolbar modifier="scanshopy">
      <div class="center">
        <h1>SCANSHOPY</h1>
      </div>
    </ons-toolbar>

    <div class="app-page">
      <div class="app-page-select">
        <div class="interest">
          <ons-row>
            <ons-col>
              <h5>Select your interest</h5>
            </ons-col>
            <ons-col width="23%">
              <ons-icon icon="ion-checkmark" ng-click="gallery.pushPage('sales.html');" style="color: #E56F0F; font-size: 28px; margin-right: -20px; margin-top: 25px;" fixed-width="false"></ons-icon>
            </ons-col>
          </ons-row>
        </div>

        <ons-row>
          <ons-col>
            <ons-button modifier="clean" >
              <img src="img/interest/hombre2.png">
              <p>MEN</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" >
              <img src="img/interest/mujer2.png">
              <p>WOMEN</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" >
              <img src="img/interest/ninos2.png">
              <p>KIDS & BABYS</p>
            </ons-button>
          </ons-col>
        </ons-row>
      </div>

    </div>
  <!--  <ons-tabbar>
      <ons-tab icon="ion-home" label="Headers" active="true" ng-click="gallery.pushPage('dishes.html');"></ons-tab>
    </ons-tabbar>

  </ons-page>-->
